<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons color="strat">
      <!-- <ion-back-buttons></ion-back-buttons> -->
    </ion-buttons>
    <ion-title>Dados Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <img *ngIf="filme.poster_path" src="https://www.themoviedb.org/t/p/w500/{{filme.poster_path}}">

      <ion-icon *ngIf="!filme.poster_path" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1>{{ filme.title }} -
        <ion-chip color="sucess">
          {{ filme.vote_average }}%
        </ion-chip>
      </h1>
      <p>{{ filme.release_date | date: 'shortDate' }}</p>
    </ion-card-content>

    <ion-item>
      <ion-badge color="light" *ngFor="let idGenre of filme.genre_ids">
        {{ genres[idGenre] }}
      </ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
