<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Videos App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://th.bing.com/th/id/OIP.jvNVqrsF057QUhtTzyaaDQHaE8?pid=ImgDet&rs=1">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>Zion Wright</h1>
          <p>Skater Profissional</p>
          <p>RedBull Skateboarding</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>1</ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>
</ion-content>
